## Intro to Pandas

#### NUMPY and PANDAS

In [7]:
#import libraries 
import numpy as np 
import pandas as pd

In [ ]:
#check whats in my current working directory 
!ls

In [ ]:
#move to a sub directory to check i have the files 
cd Healthcare

In [ ]:
#check the files are there and their names
!ls

In [ ]:
#move up one directory (to working folder) 
cd ..

In [8]:
#read the first file - its a csv
file1=pd.read_csv('Healthcare/file1.csv')

In [9]:
#check the file 
file1.shape

(1007, 17)

In [10]:
#review the numeric properties and stats 
file1.describe()

,CONTROLN,IC1,IC4,HVP1,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,TARGET_D
count,1007.000000,1007.000000,1006.000000,1007.000000,1007.000000,1007.000000,1006.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000
mean,98913.029791,352.015889,445.059642,16.261172,6.847071,55.630586,401.658052,400.022840,11.863404,37.747766,2555.362463,16.026604
std,58306.879885,173.937638,178.115476,29.464477,9.333689,21.593999,182.024618,168.901139,7.829965,213.010617,2069.953954,14.586646
min,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.361111,0.000000,0.000000,1.000000
25%,44930.500000,238.500000,325.000000,0.000000,1.000000,41.000000,283.000000,286.000000,7.285714,0.000000,0.000000,10.000000
50%,101113.000000,319.000000,406.000000,1.000000,4.000000,57.000000,364.500000,361.000000,10.000000,1.000000,2501.000000,13.920000
75%,151559.000000,421.500000,527.000000,14.000000,9.000000,74.000000,474.750000,478.000000,14.500000,2.000000,4308.500000,20.000000
max,191779.000000,1500.000000,1263.000000,99.000000,73.000000,96.000000,1500.000000,1185.000000,89.444444,4002.000000,8305.000000,200.000000

In [11]:
#look at the info -including the nulls 
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CONTROLN  1007 non-null   int64
 1   STATE     1007 non-null   object
 2   GENDER    967 non-null    object
 3   HV1       1005 non-null   object
 4   IC1       1007 non-null   int64
 5   IC4       1006 non-null   float64
 6   HVP1      1007 non-null   int64
 7   IC5       1007 non-null   object
 8   POBC1     1007 non-null   int64
 9   POBC2     1007 non-null   int64
 10  IC2       1006 non-null   float64
 11  IC3       1007 non-null   int64
 12  AVGGIFT   1007 non-null   float64
 13  TCODE     1007 non-null   int64
 14  DOB       1007 non-null   int64
 15  DOMAIN    1007 non-null   object
 16  TARGET_D  1007 non-null   float64
dtypes: float64(4), int64(8), object(5)
memory usage: 133.9+ KB

In [12]:
#review the top few rows 
file1.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [13]:
#read the second file in - its a txt file, tab separated 
file2=pd.read_csv('Healthcare/file2.txt',sep='\t')

In [14]:
#check the file 
file2.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

In [15]:
#check the same number of columns in the two files. 
# we could also check the headers are matching !
file2.shape

(1015, 17)

In [16]:
file1.shape

(1007, 17)

In [17]:
#read the file 3 - its an excel
file3=pd.read_excel('Healthcare/file3.xlsx',engine='openpyxl')

In [18]:
#same for file4 
file4=pd.read_excel('Healthcare/file4.xlsx',engine='openpyxl')

In [19]:
#for excel you might need an extra package. 
#i am checking to see if installed
#if not installed, then I close down jupyter, go to the terminal 
#and install the package with conda install openpyxl 
!conda install openpyxl

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [20]:
#set column headers - this is not always necessary, but its good practice
columns=file1.columns

In [21]:
#check the variable 
columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [22]:
#create data frame 
data=pd.DataFrame(columns=columns)

In [23]:
data

Empty DataFrame
Columns: [CONTROLN, STATE, GENDER, HV1, IC1, IC4, HVP1, IC5, POBC1, POBC2, IC2, IC3, AVGGIFT, TCODE, DOB, DOMAIN, TARGET_D]
Index: []

In [24]:
#join the data frame with the first file 
data=pd.concat([data,file1],axis=0)

In [25]:
#join the data frame with the other files 
data=pd.concat([data,file2,file3,file4],axis=0)

In [26]:
#check the data frame - should be 4028 rows 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4028 entries, 0 to 1005
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CONTROLN  4028 non-null   object
 1   STATE     4028 non-null   object
 2   GENDER    3892 non-null   object
 3   HV1       4026 non-null   object
 4   IC1       4028 non-null   object
 5   IC4       4027 non-null   float64
 6   HVP1      4028 non-null   object
 7   IC5       4028 non-null   object
 8   POBC1     4028 non-null   object
 9   POBC2     4028 non-null   object
 10  IC2       4027 non-null   float64
 11  IC3       4028 non-null   object
 12  AVGGIFT   4028 non-null   float64
 13  TCODE     4028 non-null   object
 14  DOB       4028 non-null   object
 15  DOMAIN    4028 non-null   object
 16  TARGET_D  4028 non-null   float64
dtypes: float64(4), object(13)
memory usage: 566.4+ KB

In [27]:
data.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

## some cleaning steps 
- change headers to lower case 
- revision of for loops

In [29]:
cols=[]
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())

#this is the function : data.columns.lower()

In [30]:
data.columns=cols

In [32]:
data.head()

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

### drop columns

In [33]:
datanew=data.drop(['controln','hv1'],axis=1)

In [34]:
datanew.head()

,state,gender,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,FL,M,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,IL,M,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,FL,F,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,NC,M,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,FL,F,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

#### Look at the end of the data with tail - notice the index is not refreshed?

In [40]:
datanew.tail()

,state,gender,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
4023,FL,F,396,470.0,0,15356,7,37,424.0,450,14.285714,2,6101,S2,50.0
4024,FL,M,100,423.0,4,11670,10,27,406.0,200,9.230769,28,7401,C1,10.0
4025,ND,M,258,299.0,0,10186,1,70,298.0,274,5.266667,1,3301,S2,5.0
4026,WI,male,217,397.0,0,12315,0,96,386.0,295,11.400000,1,7301,T2,14.0
4027,MI,M,431,505.0,0,14845,7,77,451.0,455,7.428571,1,1709,S2,9.0

In [39]:
datanew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4028 entries, 0 to 4027
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     4028 non-null   object
 1   gender    3892 non-null   object
 2   ic1       4028 non-null   object
 3   ic4       4027 non-null   float64
 4   hvp1      4028 non-null   object
 5   ic5       4028 non-null   object
 6   pobc1     4028 non-null   object
 7   pobc2     4028 non-null   object
 8   ic2       4027 non-null   float64
 9   ic3       4028 non-null   object
 10  avggift   4028 non-null   float64
 11  tcode     4028 non-null   object
 12  dob       4028 non-null   object
 13  domain    4028 non-null   object
 14  target_d  4028 non-null   float64
dtypes: float64(4), object(11)
memory usage: 472.2+ KB

### reset index !

In [38]:
datanew.reset_index(drop=True, inplace=True)

## filtering the data frame using subsets or query()

In [44]:
filtered=datanew[(datanew['state']=='FL')&(datanew['gender']=='M')]

## california + females + avg gift greater than $10

In [50]:
# 252 

filtered2=datanew[(datanew['state']=='CA')&(datanew['gender']=='F')&(datanew['avggift']>10)]

In [51]:
filtered2.shape

(252, 15)

### same using .query()

In [53]:
filtered3=datanew.query('gender=="F"&state=="CA"&avggift>10')

In [55]:
filtered3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 36 to 4020
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     252 non-null    object
 1   gender    252 non-null    object
 2   ic1       252 non-null    object
 3   ic4       252 non-null    float64
 4   hvp1      252 non-null    object
 5   ic5       252 non-null    object
 6   pobc1     252 non-null    object
 7   pobc2     252 non-null    object
 8   ic2       252 non-null    float64
 9   ic3       252 non-null    object
 10  avggift   252 non-null    float64
 11  tcode     252 non-null    object
 12  dob       252 non-null    object
 13  domain    252 non-null    object
 14  target_d  252 non-null    float64
dtypes: float64(4), object(11)
memory usage: 31.5+ KB

In [61]:
filtered3[['state','gender','avggift']]

     state gender    avggift
36      CA      F  16.500000
47      CA      F  13.500000
168     CA      F  10.714286
197     CA      F  15.857143
216     CA      F  39.444444
...    ...    ...        ...
3979    CA      F  20.000000
3981    CA      F  11.363636
4004    CA      F  25.843750
4010    CA      F  25.000000
4020    CA      F  12.117647

[252 rows x 3 columns]

## data cleaning - dtypes

In [63]:
#im going back to the original data frame... 
data.shape

(4028, 17)

In [64]:
data.dtypes

controln     object
state        object
gender       object
hv1          object
ic1          object
ic4         float64
hvp1         object
ic5          object
pobc1        object
pobc2        object
ic2         float64
ic3          object
avggift     float64
tcode        object
dob          object
domain       object
target_d    float64
dtype: object

In [ ]:
# first we tried changing the column hv1 to a float 
#but then noticed it contains some strings - the dtype change does not work

In [65]:
data['hv1'].astype('float',errors='ignore')

0        AAA896
1        537.00
2        725.00
3       AAA1095
4        995.00
         ...
1001        742
1002        599
1003        593
1004        564
1005        651
Name: hv1, Length: 4028, dtype: object

In [ ]:
data.dtypes()

In [74]:
#lets use this function instead which has a coerce argument 

data['hv1']=pd.to_numeric(data['hv1'],errors='coerce')

In [76]:
data['ic1']=pd.to_numeric(data['ic1'],errors='coerce')

In [77]:
data['ic3']=pd.to_numeric(data['ic3'],errors='coerce')

In [78]:
data['ic5']=pd.to_numeric(data['ic5'],errors='coerce')

In [79]:
data.dtypes

controln     object
state        object
gender       object
hv1         float64
ic1           int64
ic4         float64
hvp1         object
ic5         float64
pobc1        object
pobc2        object
ic2         float64
ic3           int64
avggift     float64
tcode        object
dob          object
domain       object
target_d    float64
dtype: object

### Some useful functions to look into a column

In [80]:
data['hvp1'].unique()

array([7, 0, 3, 1, 5, 61, 22, 97, 31, 4, 44, 2, 11, 6, 67, 30, 21, 74, 77,
       56, 8, 25, 57, 63, 17, 24, 13, 94, 10, 85, 51, 19, 47, 99, 54, 81,
       83, 49, 98, 91, 33, 18, 76, 16, 52, 15, 35, 96, 95, 58, 80, 93, 27,
       84, 78, 66, 26, 34, 23, 87, 14, 73, 12, 71, 9, 75, 20, 48, 28, 37,
       86, 59, 32, 60, 50, 68, 62, 89, 46, 72, 69, 88, 65, 45, 38, 92, 36,
       82, 90, 39, 29, 70, 40, 55, 79, 53, 43, 64, 41, 42], dtype=object)

In [82]:
data['hvp1'].value_counts()

0     1593
1      526
2      220
3      163
4       94
      ...
64       4
41       4
37       3
62       3
42       3
Name: hvp1, Length: 100, dtype: int64

### drop duplicate rows - this is a function

- without key arguments, we are only dropping complete duplicate rows

In [83]:
data=data.drop_duplicates()

In [85]:
data.shape

(4001, 17)

## extract resulting data frame as csv

In [87]:
data.to_csv('Healthcare/day1.csv',index=False)